/* ========================= ГЛАВНОЕ ========================= */
@font-face {
  font-family: Gotham_Pro;
  src: url("./../ets/fonts/Gotham_Pro.ttf");
}
body {
  margin: 0;
  padding: 0;
  font-family: Gotham_Pro;
  background-color: darkgrey;
  overflow-x: hidden;
}
body *::-webkit-scrollbar {
  width: 22px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-track-piece {
  background-color: #cfd8dc;
  margin: 5px 0 5px 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background: #607d8b;    
}
::-webkit-scrollbar-thumb {
  background: #879fab;
  border-right: 7px solid white;
  border-left: 7px solid white;
}
.plashka {
  width: 100vw;
  height: 64px;
  background-color: #607d8b;
  margin-bottom: 16px;
}
/* ========================= CUSTOM ============================== */
.error_color {
  color: #bb4444 !important;
  border-color: #bb4444 !important;
}
.error_color:after {
  content: attr(data-title);
  width: 185px;
  height: 25px;
  position: absolute;
  background: #bb4444;
  z-index: 9999;
  top: 15px;
  left: 393px;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #eeeeee;
  padding-top: 9px;
  padding-left: 11px;
}
.error_color:before {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  background-color: #bb4444;
  transform: rotate(45deg);
  left: 385px;
  top: 25px;
  z-index: 4;
}
.colored_select {
  color: #48b;
}
/* ========================= USER / PAGE ========================= */
.app .user form,
.app .page form {
  background-color: white;
  padding: 16px;
  width: calc(100% - 32px);
}
.app .user form .input_field,
.app .page form .input_field {
  color: #b0bec5;
  position: relative;
  margin-left: 240px;
}
.app .user form .input_field input,
.app .user form .input_field ul,
.app .user form .input_field textarea,
.app .page form .input_field input,
.app .page form .input_field ul {
  width: 384px;
  border: none;
  border-bottom: 1px solid #b0bec5;
  outline: none;
  font-size: 16px;
  padding: 25px 0 8px 0;
}
.app .user form .input_field input:focus,
.app .user form .input_field input:active,
.app .user form .input_field textarea:focus,
.app .user form .input_field textarea:active,
.app .page form .input_field input:focus,
.app .page form .input_field input:active {
  border-bottom: 1px solid #48b;
}
.app .user form .input_field.typing label,
.app .page form .input_field.typing label {
  font-size: 12px;
  top: 8px;
  left: 0;
}
.app .user form .input_field.typing input,
.app .user form .input_field.typing textarea,
.app .page form .input_field.typing input {
  color: #48b;
}
.app .user form .input_field label,
.app .page form .input_field label {
  position: absolute;
  top: 25px;
  left: 0;
  transition: all, 150ms;
}
.app .user form .input_field ul,
.app .page form .input_field ul {
  font-size: 16px;
  position: relative;
  z-index: 2;
  padding: 0;
  padding-left: 0;
  list-style: none;
  background-position-x: 221px;
  padding-bottom: 6px;
  color: #263238;
}
.app .user form .input_field ul li,
.app .page form .input_field ul li {
  margin-right: -1px;
  padding-left: 14px;
  padding-bottom: 7px;
  padding-top: 7px;
  border-right: 2px solid #2196f3;
  border-left: 2px solid #2196f3;
  background-color: white;
}
.app .user form .input_field ul > :nth-child(2),
.app .page form .input_field ul > :nth-child(2) {
  margin-top: -3px;
  border-top: 2px solid #2196f3;
}
.app .user form .input_field ul li:last-child,
.app .page form .input_field ul li:last-child {
  border-bottom: 2px solid #2196f3;
}
.app .user form .select.input_field ul #post,
.app .page form .select.input_field ul #sort {
  border-bottom: 1px solid #b0bec5;
  padding-bottom: 5px;
}
.app .user form .select.input_field ul,
.app .page form .select.input_field ul {
  color: #b0bec5;
  border: none;
}
.app .user form .opened_select,
.app .page form .opened_select {
  border: none;
}
.app .user form .closed_select,
.app .page form .closed_select {
  color: #aaa;
}
.app .user form .opened_li,
.app .page form .opened_li {
  display: block;
  z-index: 999999;
}
.app .user form .opened_li:hover,
.app .page form .opened_li:hover {
  background-color: #eceff1;
}
.app .user form .opened_li:active,
.app .page form .opened_li:active {
  background-color: #2196f3;
}
.app .user form .closed_li,
.app .page form .closed_li {
  display: none;
}
.app .user form .opened_select:after,
.app .user form .closed_select:after,
.app .page form .opened_select:after,
.app .page form .closed_select:after {
  width: 18px;
  height: 18px;
  content: "";
  position: absolute;
}
.app .user form .opened_select:after,
.app .page form .opened_select:after {
  background: url("./../ets/icons/arrow_drop_up.svg") no-repeat right transparent;
}
.app .user form .closed_select:after,
.app .page form .closed_select:after {
  background: url("./../ets/icons/arrow_drop_down.svg") no-repeat right transparent;
}
/* ========================= USER ================================ */
.app .user {
  width: 656px;
  height: 600px;
  background-color: #ffffff;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.app .user .header {
  width: calc(100% - 16px);
  background-color: #fbfcfc;
  font-size: 20px;
  line-height: 14px;
  padding: 18px 0 19px 16px;
  color: #b0bec5;
  border-bottom: 1px solid #cfd8dc;
}
.app .user .avatar {
  width: 224px;
  height: 280px;
  position: absolute;
}
.app .user .new_avatar {
  opacity: 0;
  position: absolute;
  width: 224px;
  height: 280px;
  top: 68px;
  left: 16px;
  background: url("./../ets/icons/refresh.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(128,128,128,0.7);
  background-size: 40px;
  transition: opacity 0.3s;
  cursor: pointer;
}
.app .user .new_avatar:hover {
  opacity: 1;
}
.app .user form input[type="file"] {
  position: absolute;
  visibility: hidden;
}
.app .user form .input_field textarea {
  resize: none;
  width: calc(100% - 32px);
  height: 124px;
  font-family: Gotham_Pro;
  font-size: 16px;
  line-height: 1.5;
  padding: 21px 15px 13px 15px;
  border: 1px solid #b0bec5;
}
.app .user form .birth_date_form {
  position: absolute;
  top: 172px;
  z-index: 3;
}
.app .user form .select {
  position: absolute;
  top: 235px;
}
.app .user form .select.input_field ul {
  width: 383px;
}
.app .user form .select.input_field ul #post {
  width: 382px;
  height: 18px;
}
.app .user form .description_form {
  position: relative;
  bottom: -193px;
  margin-left: 0;
  margin-top: -1px;
}
.app .user form .description_form label {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 16px;
  line-height: 2.33;
}
.app .user form .description_form.typing label {
  font-size: 12px;
  top: 0;
  left: 16px;
}
.app .user form .save,
.app .user form .delete {
  position: absolute;
  bottom: 16px;
  padding: 13px 39px 13px 38px;
  border: none;
  font-size: 16px;
  font-family: Gotham_Pro;
  outline: none;
}
.app .user form .save {
  right: 176px;
  padding-left: 28px;
  padding-right: 28px;
  background-color: #2196f3;
  color: white;
}
.app .user form .save:hover {
  background-color: #1e88e5;
}
.app .user form .delete {
  right: 16px;
  background-color: #eceff1;
}
.app .user form .delete:hover {
  background-color: #e2e6e9;
}
.app .user form .select .error_color:after {
  line-height: 1;
}
.app .user form .input_field ul {
  z-index: 99999;
}
.app .user form .opened_select:after,
.app .user form .closed_select:after {
  top: -2px;
  right: 2px;
}
.app .user form .description_form.error_color:before {
  left: 627px;
}
.app .user form .description_form.error_color:after {
  left: 635px;  
}
/* ========================= PAGE ================================ */
.app .page {
  width: 656px;
  background-color: #ffffff;
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
  margin: 16px auto;
}
.app .page form .input_field {
  margin: 0;
}
.app .page form .search_form {
  position: absolute;
  top: 0;
}
.app .page form .search_form:after {
  content: '';
  position: absolute;
  top: 13px;
  left: -4px;
  background: url("./../ets/icons/search.svg");
  width: 23px;
  height: 23px;
  background-size: 23px 23px;
}
.app .page form .sort {
  position: absolute;
  top: 0;
  right: 17px;
  height: 42px;
  width: 200px;
}
.app .page form .sort .sort_direction {
  position: absolute;
  top: 8px;
  right: -5px;
  width: 24px;
  height: 24px;
}
.app .page form .sort .sort_direction.up, 
.app .page form .sort .sort_direction.down {
  background: url("./../ets/icons/arrow_up.svg");
  background-size: 24px 24px;  
}  
.app .page form .sort .sort_direction.down {
  transform: rotate(180deg);
}
.app .page form .input_field input,
.app .page form .input_field ul {
  padding: 14px 0 10px 0;
}
.app .page form .input_field input {
  width: 371px;
  padding: 14px 232px 10px 53px;
  margin: 0 0 0 -16px;
}
.app .page form .input_field ul {
  width: 199px;
}
.app .page form .input_field.typing label {
  top: 2px;
  left: 38px;
}
.app .page form .input_field label {
  top: 13px;
  left: 36px;
}
.app .page form .input_field ul {
  padding: 13px 0 0 0;
  border-bottom: none;
  margin: 0 0 0 0;
  width: 90%;
}
.app .page form .input_field ul > :nth-child(2) {
  margin-top: 11px;
}
.app .page form .input_field ul div,
.app .page form .input_field ul li {
  padding-left: 50px;
}
.app .page form .input_field ul div {
  padding: 0 20px 0 2px;
  text-align: center;
}
.app .page form .input_field ul li {
  margin-right: -1px;
  padding-bottom: 14px;
  padding-top: 11px;
}
.app .page .list {
  margin: 12px 16px 0 16px;
}
.app .page .list .item {
  padding: 16px 0 12px 0;
  position: relative;
  border-bottom: 1px solid #b0bec5;
}
.app .page .list .item img {
  width: 144px;
  height: 180px;
}
.app .page .list .item .info {
  position: absolute;
  top: 34px;
  left: 160px;
  color: #263238;
}
.app .page .list .item .info .name {
  font-size: 24px;
}
.app .page .list .item .info .birth_date {
  color: #b0bec5;
  font-size: 16px;
  margin-top: 8px;
}
.app .page .list .item .info .post {
  font-size: 16px;
  margin-top: 25px;
}
.app .page .list .item .edit {
  color: white;
  position: absolute;
  right: 0;
  bottom: 15px;
  padding: 13px 20px 13px 17px;
  border: none;
  font-size: 16px;
  font-family: Gotham_Pro;
  outline: none;
  background-color: #2196f3;
}
.app .page .list .item .edit:hover {
  background-color: #1e88e5;
}
.app .page .list .item:last-child {
  border: none;
}
.app .page form .opened_select:after,
.app .page form .closed_select:after {
  top: 13px;
  right: 25px;
}



